# =========================
# PostgreSQL Configuration
# =========================
POSTGRES_USER=myuser
POSTGRES_PASSWORD=12345
POSTGRES_DB=shortlink_db
POSTGRES_PORT=5432

# =========================
# Application Configuration
# =========================
APP_HOST=0.0.0.0
APP_PORT=8080

# =========================
# Database Connection
# =========================
# Use localhost when running backend locally
DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=12345
DB_NAME=shortlink_db

# =========================
# Redis Configuration
# =========================
# Use localhost when running backend locally
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=superuser
REDIS_PASSWORD=admin
REDIS_DB=0

# =========================
# Security
# =========================
JWT_SECRET=your-secret-key
JWT_ISSUER=aqilknz

# =========================
# Migration
# =========================
DATABASE_URL=postgresql://myuser:12345@db:5432/shortlink_db?sslmode=disable